@import '~vant/lib/index.less';
@import 'var';
@import 'button/button';
@import 'order/index';
@import 'navbar/index';

// Tabbar
@tabbar-height: 80px;
.van-tabbar {
  background-color: rgba(16, 16, 16, 0.9);
  //background-color: @gray-8;
  //opacity: 0.9;

  // Tabbar Item
  &-item {
    font-size: 24px;

    &--active {
      color: #ffffff;
      background-color: @gray-8;
    }
  }
}


// 首页按钮容器
.menu-container {
  padding: 16px 0;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
}

.margin-left-64 {
  margin-left: 64px;
}

.margin-right-64 {
  margin-right: 64px;
}

// Margin
.margin-top-6 {
  margin-top: 6%
}

html {
  background-image: url("../assets/32.png");
  background-size: cover;
}



.index-title {
  font-size: 64px;
  color: @mg-default-color;
  letter-spacing: 2px;
  text-align: center;
  line-height: 70px;
  padding: 0 21.2%;
  margin: 6% 0;
}

// loading
.loading-title {
  margin-top: 6%;
  font-size: 64px;
  color: @mg-default-color;
  padding: 0 24%;
}


// loading
.van-loading {
  color: @mg-default-color;
}

.payment-title {
  font-size: 1.25em;
  color: @mg-default-color;
  margin-bottom: 16px;
}

//.van-key {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 64px;
//  font-size: 32px;
//  line-height: 1.5;
//  background-color: #fff;
//  border-radius: 8px;
//  cursor: pointer;
//}